article.document-content
    span.pull-right.muted  
        =d.created_date.textVal() 
    h2 
        =d.title
   
    p
        !{d.data}
div.btn-group.pull-right
    a(class='btn btn-mini', href='/documents/' + d.id+'/comments/new')
          <i class="icon-zoom-in"></i> Comment
    - if(locals.enableCommentDelete)
        a(class='btn btn-mini btn-primary', href='/documents/' + d.id + '/edit') Edit
        a(class='btn btn-mini btn-warning destroy', href='/documents/' + d.id) <i class="icon-trash icon-white"></i> Delete
        
br    
