div.control-group
    label(for='user').control-label User:
    div.controls
       span(id='user') 
        =user.email
div.control-group
    label(for='comment').control-label Comment:
    div.controls
        textarea(name='comment[comment]', rows='5',id='comment').span5
            =c.comment || ''
div.control-group
    label(for='createddate').control-label Created:
    div.controls
        input(name='comment[created_date]', rows='3',id='created_date', type='date', value=c.created_date || '', disabled)
div.control-group
    div.controls
        input(type='submit', value='Save').btn.btn-primary