extends ../layout

block content
    include ../documents/document_fragment.jade

    legend New comment 
        form(method='post', action='/documents/' + d.id+'/comments/new').well
          input(name='_method', value='POST', type='hidden')
          input(name='document[user_id]', value=d.id, type='hidden')
          include fields
    include ../documents/comment_list.jade