div.navbar
    div.navbar-inner
        div.container
            a(data-toggle='collapse', data-target='.nav-collapse').btn.btn-navbar 
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a(href='#').brand Title
            div.nav-collapse 
                
                ul.nav
                    - for (item in menu)
                            - if (menu[item].active)
                                li.active
                                    a(href=menu[item].href) #{menu[item].title} 
                            - else{
                                li
                                    a(href=menu[item].href) #{menu[item].title} 
                            - }
                    
                div.login
                    - if(locals.user && locals.user.email) // seems that user id always present in cookie so passport always sets this
                        span.username 
                            =locals.user.name || locals.user.email
                        a(href="#")#logout.btn.btn-inverse.btn-mini Logout
                        
                    - else 
                        a(href="/sessions/new").btn.btn-primary Login
                                
                      
                        