extends ../layout

block content
    form(method="post", enctype="multipart/form-data", id="uploadform").fileform
        p Title: 
            input(type="text", name="title")
        p Image: 
            input(type="file", name="image", id="fileinput", multiple="true")
        p
            input(type="submit", value="Upload")
    script(type='text/javascript', src='/javascripts/upload.js')