- for (var i = 0; i<d.comments.length; i++)
    div.well
        p
            small 
                =d.comments[i].user_name
            small.pull-right
                =d.comments[i].created_date.textVal()
        p
            =d.comments[i].comment
          
        - if(locals.enableCommentDelete)
            div.btn.pull-right
                a(class='btn btn-mini btn-warning destroy', href='/documents/' + d.id+'/comments/'+d.comments[i].id) <i class="icon-trash icon-white"></i> Delete
  