extends ../layout

block content
  legend Your Paintings
  
  p
    a(class='btn btn-primary', href='/paintings/new') + New Document
  
  
    - for (var d in paintings)
     div.well
        h3
            =paintings[d].title
        p.lead
            #{paintings[d].sub_heading} 
            
        //  p
        //      !{paintings[d].text}*/
        p
            img(src='http://res.cloudinary.com/hsszh7wam/image/upload/h_90,w_120,r_20/' + paintings[d].imagepng)
        
        div.btn-group
            - if(locals.enableCommentDelete)
                a(class='btn btn-mini btn-primary', href='/paintings/' + paintings[d].id + '/edit') Edit
                a(class='btn btn-mini btn-warning destroy', href='/paintings/' + paintings[d].id) <i class="icon-trash icon-white"></i> Delete
            a(class='btn btn-mini', href='/paintings/' + paintings[d].id)
              <i class="icon-zoom-in"></i> View
            a(class='btn btn-mini', href='/paintings/' + paintings[d].id+'/comments/new')
              <i class="icon-zoom-in"></i> Comment
              